#top_title{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #FF4444;
  text-align: center;
}

#e_title{
  margin: 10px;
  color: white;
}

.each_score_div{
  border: thin solid black;
  margin-left: 13px;
  margin-right: 13px;
}

.e_score_div_question_num{
  text-align: left;
}

.e_score_div_score_num{
  font-size: 60px;
}

#e_score_sum_div{
  margin: 30px 0px 20px;
  border: thin solid black;
  text-align: center;
}

#e_score_div_question_sum{
  text-align: left;
}

#e_score_div_score_sum{
  font-size: 100px;
}

#score {
  margin-top: 15px;
  margin-bottom: 0px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

#sum_score {
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}
