#e_content{
 text-align: center;
 padding-top: 15px;
 padding-bottom: 0px;
}

#e_talks{
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}

.e_talk_name{
  text-align: right;
  margin-bottom: 5px;
}

.e_talk_comment{
  text-align: left;
  margin-bottom: 5px;
}

#e_questions{
  text-align: left;
}

.e_answer_radio_group{
  text-align: center;
}

.jumbotron p{
  margin-bottom: 0px;
}

.e_answer_radio{
  margin-right: 15px;
}

.e_answer_write_type{
  width: 80%;
}

#bottom_next_button{
  margin-bottom: 30px;
}
