#top_title{
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #FF4444;
  text-align: center;
}

#e_title{
  margin: 10px;
  color: white;
}

.each_score_div{
  border: thin solid black;
}
