#top_title{
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #FF4444;
}

#e_title{
  margin: 10px;
  color: white;
}

#e_description{
  margin: 10px auto 0px;
  width: 800px;
  text-align: center;
  color: white;
}

#e_tab_div{
  padding: 0px;
}

#e_tab{
  padding: 0px;
  background-color: #FF4444;
  border-radius: 5px;
}

#e_content{
  height: 100%;
  margin-top: 15px;
  text-align: center;
}

.e_tab_list{
  border: 1px solid #bbb;
  border-radius: 5px;
}
.nav>li>a:hover{
  background-color: #FF0000;
}

.make_things_right{
  text-align: right;
}

.e_lom_title{
  text-align: center;
}
