#top_title{
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
  background-color: #FF4444;
}

#e_title{
  margin: 10px;
  color: white;
}

#e_description{
  margin: 10px auto 0px;
  width: 800px;
  text-align: center;
  color: white;
}

#e_tab_div{
  padding: 0px;
}

#e_tab{
  padding: 0px;
  background-color: #FF4444;
  border-radius: 5px;
}

#e_content{
  height: 100%;
  margin-top: 15px;
  text-align: center;
}

.e_tab_list{
  border: 1px solid #bbb;
  border-radius: 5px;
}
.nav>li>a:hover{
  background-color: #FF0000;
}

.make_things_right{
  text-align: right;
}

.e_lom_title{
  text-align: center;
}

#e_lom_table{
  font-size: 20px;
}

#e_learn_talks{
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}

.e_talk_name{
  text-align: right;
  margin-bottom: 5px;
}

.e_talk_comment{
  text-align: left;
  margin-bottom: 5px;
}

#e_learn_explanation{
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 20px;
}

.e_learn_explanation_set{
  margin-bottom: 40px;
}

.e_learn_explanation_word{
  text-align: left;
  margin: 0 auto;
}

.jumbotron h1{
  font-size: 200%;
}

.e_learn_explanation_explain{
  text-align: left;
}
