<link rel="stylesheet" type="text/css" href="css/pre-test-content.css">
<div id="yeah"></div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="e_content">
    <h1>問{{questionNumber}}</h1>
    <div class="col-md-1"></div>
    <div class="col-md-10" id="e_talks">
      <div class="e_talk_set" ng-repeat="talk in talks"><div class="col-md-2 e_talk_name">{{talk.name}} : </div><div class="col-md-10 e_talk_comment">{{talk.comment}}</div></div>
    </div>

		<div ng-switch="questionNumber">
			<div ng-switch-when="1">
				<audio controls preload="auto">
					<source src="sound/sound1.m4a" type="audio/mp4">
				</audio>
    	</div>
			<div ng-switch-when="2">
				<audio controls preload="auto">
					<source src="sound/sound2.m4a" type="audio/mp4">
				</audio>
    	</div>
			<div ng-switch-when="3">
				<audio controls preload="auto">
					<source src="sound/sound3.m4a" type="audio/mp4">
				</audio>
    	</div>
			<div ng-switch-when="4">
				<audio controls preload="auto">
					<source src="sound/sound4.m4a" type="audio/mp4">
				</audio>
    	</div>
			<div ng-switch-when="5">
				<audio controls preload="auto">
					<source src="sound/sound5.m4a" type="audio/mp4">
				</audio>
    	</div>
		</div>

    <div class="col-md-2"></div>
    <div class="col-md-8" id="e_questions">
      <div ng-repeat="question in questions">
        <div ng-switch="question.questionType">
          <div ng-switch-when="1">
            <p>Question {{question.number}}</p>
            <p>Q: {{question.question_line}}</p>
            <div ng-repeat="answer in question.answers">
              <p>
                　{{answer.name}}.　{{answer.answer_line}}
              </p>
            </div>
            <p class="e_answer_radio_group">
              <inline ng-repeat="answer in question.answers" class="e_answer_radio">
                <input type="radio" ng-model="question.your_answer" name="group{{question.number}}" value="{{answer.name}}"> {{answer.name}}
              </inline>
            </p>
            <br>
          </div>
          <div ng-switch-when="2">
            <p>Question {{question.number}}</p>
            <p>Q: {{question.question_line}}</p>
            <p>
              Answer: <input type="text" ng-model="question.your_answer" class="e_answer_write_type">
            </p>
            <br>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div style="text-align: center">
  <button id="bottom_next_button" class="btn btn-secondary btn-lg" ng-click="nextQuestion()" scroll-to="yeah">{{button_value}}</button>
</div>
