<link rel="stylesheet" type="text/css" href="css/pre-test-before.css">
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="top_title">
    <h1 id="e_title">ブライソンイアンと学ぶ英会話</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="description_content">
    <p id="e_description">こちらは留学したいけど英語にまだ自信のない方を対象にした教材です。<br>英会話のリスニングを通じてヒアリングの能力向上及び口語になれさせます。<br><br>まずはプレテストを受けて、自分の力を知りましょう！！</p>
    <div id="e_next_div">
      <input type="button" class="btn btn-danger" onclick="location.href='#/question'" value="プレテストを受ける">
    </div>
  </div>
</div>
