<link rel="stylesheet" type="text/css" href="css/pre-test-content.css">
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="e_content">
    <h1>問{{questionNumber}}</h1>
    <div style="width: 100px;"></div>
    <div style="text-align: left;">
      <div ng-repeat="talk in talks"><div class="col-md-4">{{talk.name}} : </div><div class="col-md-8">{{talk.comment}}</div></div>
      <br>
    </div>
    <div class="col-md-2" style="float: none;"></div>
    <div class="col-md-8" style="text-align: left;">
      <div ng-repeat="question in questions">
        <div ng-switch="question.questionType">
          <div ng-switch-when="1">
            <p>Question {{question.number}}</p>
            <p>Q: {{question.question_line}}</p>
            <div ng-repeat="answer in question.answers">
              <p>
                {{answer.name}}. {{answer.answer_line}}
              </p>
            </div>
            <p>
              <inline ng-repeat="answer in question.answers">
                <input type="radio" ng-model="question.your_answer" name="group{{question.number}}" value="{{answer.name}}"> {{answer.name}}
              </inline>
            </p>
            <br>
          </div>
          <div ng-switch-when="2">
            <p>Question {{question.number}}</p>
            <p>Q: {{question.question_line}}</p>
            <p>
              Answer: <input type="text" ng-model="question.your_answer">
            </p>
            <br>
          </div>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
<div style="text-align: center">
  <input type="button" ng-click="nextQuestion()" value="{{button_value}}">
</div>
