<link rel="stylesheet" type="text/css" href="css/top-page.css">
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="top_title">
    <h1 id="e_title">ブライソンイアンと学ぶ英会話</h1>
    <p id="e_description">こちらは留学したいけど英語にまだ自信のない方を対象にした教材です。<br>英会話のリスニングを通じてヒアリングの能力向上及び口語になれさせます。</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" id="e_tab_div">
    <ul class="nav nav-justified" id="e_tab">
      <li class="active e_tab_hov"><a class="e_tab_list" href="#">概要</a></li>
      <li class="e_tab_hov"><a class="e_tab_list" href="#">学習</a></li>
      <li class="e_tab_hov"><a class="e_tab_list" href="#">テスト</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="e_content" style="text-align: center;">
    <p>ここにコンテンツ</o>
  </div>
</div>
