<link rel="stylesheet" type="text/css" href="css/top-page.css">
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="top_title">
    <h1 id="e_title">ブライソンイアンと学ぶ英会話</h1>
    <p id="e_description">こちらは留学したいけど英語にまだ自信のない方を対象にした教材です。<br>英会話のリスニングを通じてヒアリングの能力向上及び口語になれさせます。</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8" id="e_tab_div">
    <ul class="nav nav-justified" id="e_tab">
      <li class="e_tab_hov"><a class="e_tab_list" ng-click="click(1)">概要</a></li>
      <li class="e_tab_hov dropdown"><a class="e_tab_list dropdown-toggle" data-toggle="dropdown">学習<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a ng-click="dropdown_click(1)">空港の入国審査編</a></li>
          <li><a ng-click="dropdown_click(2)">お店でのやり取り編</a></li>
          <li><a ng-click="dropdown_click(3)">道を尋ねられたときのやり取り編</a></li>
          <li><a ng-click="dropdown_click(4)">友達との会話編</a></li>
          <li><a ng-click="dropdown_click(5)">スポーツ観戦編</a></li>
        </ul>
      </li>
      <li class="e_tab_hov"><a class="e_tab_list" ng-click="click(3)">テスト</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="jumbotron col-md-8" id="e_content">
    <div ng-switch="content_type">
      <div ng-switch-when="1">
        <p><strong>LOM情報</strong></p>
        <table id="e_lom_table" class="table table-bordered">
          <tbody>
            <tr>
              <th scope="row" class="e_lom_title">教材名称</th>
              <td>ブライソンイアンと学ぶ実用英会話</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">概要</th>
              <td>海外での日常英会話を学ぶ</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">キーワード</th>
              <td>英会話のリスニング</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">目標</th>
              <td>日常での英会話の理解力の向上</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">対象者</th>
              <td>海外での活動をしたい学生、社会人</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">対象者の条件</th>
              <td>高校レベルの英語を習得した人</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">学習時間</th>
              <td>10~15分程度</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">使用料</th>
              <td>未定</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">企画・制作</th>
              <td>007</td>
            </tr>
            <tr>
              <th scope="row" class="e_lom_title">作成者</th>
              <td>1G141005 ブライソン イアン　1G141011 平 嵩幸<br>
                1G141016 池田 宗也　1G141073 辰巳 友亮
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-switch-when="2">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="e_learn_talks">
          <div class="e_talk_set" ng-repeat="talk in learn_talks"><div class="col-md-2 e_talk_name">{{talk.name}} : </div><div class="col-md-10 e_talk_comment">{{talk.comment}}</div></div>
        </div>
        <div class="col-md-12" id="e_learn_explanation">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="e_learn_explanation_set" ng-repeat="explanation_set in learn_explanations">
              <h1 class="e_learn_explanation_word">【{{explanation_set.word}}】</h1>
              <div ng-repeat="explane_set in explanation_set.explanations"><p class="e_learn_explanation_explain">{{explane_set.explane}}</p></div>
            </div>
          </div>
        </div>
      </div>
      <div ng-switch-when="3">
        <p id="">学習はもう済んだでしょうか？<br>たくさんの教材を通してリスニング能力・会話への慣れは飛躍的に上がったはずです。<br><br>最終テストを受けてどれくらい伸びたか確認しましょう！！</p>
        <div id="">
          <input type="button" class="btn btn-danger" onclick="location.href='#/finaltest'" value="最終テストを受ける">
        </div>
      </div>
    </div>
  </div>
</div>
